@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-BoldItalic.eot');
    src: url('STIXTwoText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-BoldItalic.woff2') format('woff2'),
        url('STIXTwoText-BoldItalic.woff') format('woff'),
        url('STIXTwoText-BoldItalic.ttf') format('truetype'),
        url('STIXTwoText-BoldItalic.svg#STIXTwoText-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-SemiBold.eot');
    src: url('STIXTwoText-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-SemiBold.woff2') format('woff2'),
        url('STIXTwoText-SemiBold.woff') format('woff'),
        url('STIXTwoText-SemiBold.ttf') format('truetype'),
        url('STIXTwoText-SemiBold.svg#STIXTwoText-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-Medium.eot');
    src: url('STIXTwoText-Medium.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-Medium.woff2') format('woff2'),
        url('STIXTwoText-Medium.woff') format('woff'),
        url('STIXTwoText-Medium.ttf') format('truetype'),
        url('STIXTwoText-Medium.svg#STIXTwoText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-SemiBoldItalic.eot');
    src: url('STIXTwoText-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-SemiBoldItalic.woff2') format('woff2'),
        url('STIXTwoText-SemiBoldItalic.woff') format('woff'),
        url('STIXTwoText-SemiBoldItalic.ttf') format('truetype'),
        url('STIXTwoText-SemiBoldItalic.svg#STIXTwoText-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-Regular.eot');
    src: url('STIXTwoText-Regular.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-Regular.woff2') format('woff2'),
        url('STIXTwoText-Regular.woff') format('woff'),
        url('STIXTwoText-Regular.ttf') format('truetype'),
        url('STIXTwoText-Regular.svg#STIXTwoText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-Italic.eot');
    src: url('STIXTwoText-Italic.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-Italic.woff2') format('woff2'),
        url('STIXTwoText-Italic.woff') format('woff'),
        url('STIXTwoText-Italic.ttf') format('truetype'),
        url('STIXTwoText-Italic.svg#STIXTwoText-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-Bold.eot');
    src: url('STIXTwoText-Bold.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-Bold.woff2') format('woff2'),
        url('STIXTwoText-Bold.woff') format('woff'),
        url('STIXTwoText-Bold.ttf') format('truetype'),
        url('STIXTwoText-Bold.svg#STIXTwoText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('STIXTwoText-MediumItalic.eot');
    src: url('STIXTwoText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('STIXTwoText-MediumItalic.woff2') format('woff2'),
        url('STIXTwoText-MediumItalic.woff') format('woff'),
        url('STIXTwoText-MediumItalic.ttf') format('truetype'),
        url('STIXTwoText-MediumItalic.svg#STIXTwoText-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

.math { font-size: 95% !important; }

.book .book-body .page-wrapper .page-inner {
  max-width: 950px;
}

.book .book-body .page-wrapper .page-inner section.normal h1{font-size:1.2em;margin-bottom:0em; line-height:220%}
.book .book-body .page-wrapper .page-inner section.normal h2{font-size:1.2em;margin-top:0.2em;}

hr {
  border-style: dashed;
  color: #ffffff;
}

.csl-entry, p, ol, ul {
  font-size: 1.2em;
  line-height: 1.8em;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}


pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.Theorembox {
  padding: 1em;
  padding-bottom: 0em;
  background: #dde0eb;
  max-width: 900px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.center {
  text-align: center;
}

.book.font-family-0 {
  font-family:'STIX Two Text', serif;
}

.book .book-summary {
  font-family: 'STIX Two Text', serif;
  font-size: 1.3em;
  position:absolute;
  top:0;
}

.summary {
  line-height: 1.2em;
}

.book.with-summary .book-header.fixed {
  padding-bottom: 53px;
  font-family: 'STIX Two Text', serif;  
}

.book.with-summary .book-body {
}

.footnotes {
  font-size: 0.7em;
}



